body {
    background-image: url("twwo.jpg");
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    text-align: center; 
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
h1 {
    margin-top: 10px;
    margin-bottom: 10px; 
    color:white;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: palevioletred;
}

#save-btn {
    background: darkcyan;
}
#save-el
{
    color:aliceblue;
    font-size: larger;
}